/* poppins font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* source code pro import */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

h2 {
    margin-left: 700px;
    margin-top: 200px;
    font-size: 60px;
}

h3 {
    margin-left: 750px;
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    font-family: 'Poppins', sans-serif;
}

.navbar a {
    color: #333; /* Default text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #007bff; /* New hover color */
}

/* Add a color to the active/current link */
.navbar a.active {
    color: #89CFF0; /* Active link color */
}

.navbar .navbar-center {
    display: flex;
}

/* General Button Styles */
.button {
    font-size: 16px;
    padding: 10px 20px; /* Adjust padding for size */
    border-radius: 25px; /* Rounded corners */
    border: 2px solid; /* Button border */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer on hover */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Light Button */
.button.light {
    background-color: white;
    color: black;
    border-color: black;
}

.button.light:hover {
    background-color: black;
    color: white;
}

/* Dark Button */
.button.dark {
    background-color: black;
    color: white;
    border-color: black;
}

.button.dark:hover {
    background-color: white;
    color: black;
}

/* Button Container Styling */
.button-container {
    display: flex;
    gap: 15px; /* Space between buttons */
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    margin-left: 530px;
}
